

<h2 class="title">{{content?.title}}</h2>
<img (click)="imageClicked()" *ngIf="content?.imgUrl" class="image" [src]="content?.imgUrl">
<p class="body">
    {{content?.description}}
</p>
<div class="meta-data">
    <div class="creator">
        {{content?.creator}}
    </div>
    <div *ngIf="content?.type" class="content?.type">
        {{content?.type}}
    </div>
    <div class="tags" *ngIf="content?.tags">
        <span class="tag" *ngFor="let tag of content?.tags">#{{tag}}</span>
    
    </div>
</div>